$row-width              : 100%;

// Generic Colors
$black                  : #333333;
$black-87               : rgba(26, 26, 26, 0.87);

$white                  : #ffffff;
$offWhite               : darken($white, 3%);

// Brand Colors
$gray                   : rgba(158, 158, 158, 0.43);
$gray-90                : rgba(25, 27, 29, 0.9);

$blue                   : #00bcd4;
$dk-blue                : darken($blue, 5%);
$colo-blue              : #213983;

// New Styles
$colorado-blue          : #0f2778;
$colorado-blue-dark     : darken($colorado-blue, 10%);
$gradient-ltBlue        : #09c6fa;
$gradient-dkBlue        : #1263E6;
$gradient-bgColor       : #045de9;
$gradient-dkBlue-2      : #0e5eda;

// background-image
$gradient-bgImage       : linear-gradient(315deg, #045de9 0%, #09c6f9 74%);

// Social Colors
$facebook               : #4562a0;
$twitter                : #50abf1;
$google                 : #dd4330;
$tumblr                 : #36465D;

// @General Mixins
@mixin full-border($width, $style, $color) {
  border: $width $style $color;
}

@mixin top-bottom-border($width, $style, $color) {
  border-bottom: $width $style $color;
  border-top: $width $style $color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 42px;
}

article > h2 {
   text-transform: uppercase;
   letter-spacing: 5px;
   line-height: 1px;
   text-align: center;
}

.blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #DDDDDD; 

  p {
    line-height: 1.6;
    color: $white;
  }

}

.icon-email {
  color: $blue;
  text-decoration: none;

  &::before {
    content: '';
    background: url(/img/email.svg) no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    width: 33px;
    vertical-align: middle;
  }
}

.jotform-form {

  .form-all {

    input, textarea {
      @include full-border(2px, solid, $colorado-blue);
    }
  }
}

// utilities
.text-align {

  &--center {
    text-align: center;
  }
}
