$row-width       : 100%;

// Generic Colors
$black           : #333333;
$black-87        : rgba(26, 26, 26, 0.87);
$white           : #ffffff;

// Brand Colors
$gray            : rgba(158, 158, 158, 0.43);
$gray-90         : rgba(25, 27, 29, 0.9);

$blue         : #00bcd4;
$dk-blue      : darken($blue, 5%);

// Layout

// hack for bottom-angle mixin
body {
  overflow-X: hidden;
}
h2 {
  font-size: 42px;
}
