$row-width       : 100%;

// Generic Colors
$black           : #333333;
$white           : #ffffff;

// Brand Colors
$gray            : #2e3837;
$blue            : #166678;
$green           : #7db9b3;
$lt-green        : #e1f6f4;

// Layout
$section-padding: 5em 2em;
