---
layout: default
conference: false
---

{% include header.html %}

{% include hero.html %}

<!-- {% include conference.html %} -->

<article class="home">
  <section class="welcome">
    <h2>Welcome!</h2>
    <p>Colorado ACEP is committed to protect the longevity and future of individual physicians, our patients, and emergency medicine as a specialty. This includes involvement in education of medical students, residents, emergency physicians, our patients, and the general public. We promote policies that preserve the integrity and independence of emergency medical practice. We support emergency physician representation within medical organizations and academic institutions. Colorado ACEP represents the interest of all Colorado emergency physicians.</p>
    <p>Are you concerned about where emergency medicine is going and who is working for your personal concerns? Emergency Physicians face a wide variety of challenges in an era of rapid change. We must be united to protect our specialty and to protect our patients.</p>
    <p><strong>The Colorado Chapter of Emergency Physicians is your voice for those concerns!</strong></p>
  </section>
  <section class="dates">
    <h3>CO ACEP Meetings</h3>
    <ul>
     <li><strong>Annual Meeting at Denver Chop House</strong> | Jan. 18</li>
     <li>March 22</li>
     <li>May 17</li>
     <li>July 19</li>
     <li>Sept. 20</li>
     <li>Nov. 15</li>
    </ul>
    <p>All meetings will be held at CMS/COPIC offices located at 7351 E. Lowry Blvd.
  Meetings begin at 12:00pm.</p>
  </section>
</article>
<section class="mission-statement">
  <h3>Colorado ACEP Mission Statement</h3>
  <p class="blockquote">"The mission of the Colorado Chapter, American College of Emergency Physicians is to serve as the primary organization in the State of Colorado representing the specialty of Emergency Medicine, promoting the interests and values of emergency physicians and patients by giving physicians the tools to support the highest quality of emergency medical care."</p>
</section>

{% include saving-millions.html %}

{% include leadership.html %}

{% include sub-leadership.html %}

{% include membership.html %}

<article class="legislative" data-scroll-index="3">
    <h2>Legislative</h2>
    <section class="updates">
        <h3>Updates</h3>
        <div>
            <p>Are you concerned about where emergency medicine is going and who is working for your personal concerns? Emergency physicians face a wide variety of challenges in an era of rapid change. We must be united to protect our specialty and to protect our patients.  The Colorado Chapter of Emergency Physicians is your voice for those concerns!</p>
        </div>
        <ul>
            <li><a class="button" href="/docs/reports/2017/may-1.pdf">Legislative Report 03/01/17</a></li>
        </ul>
    </section>
    <section class="advocacy">
        <h3>Advocacy</h3>
        <div>
            <p>One of the most important values of Colorado ACEP membership is having your rights and interests represented at the state capitol. As a strong, unified professional organization we have taken many steps to empower physicians and to protect our patients. We have enjoyed several important successes as a result, including but not limited to:</p>
            <ul>
                <li>Medicaid Reimbursement</li>
                <li>Medical Liability Reform</li>
                <li>Emergency Medical and Prehospital Services</li>
                <li>Statewide Trauma System</li>
            </ul>
        </div>
        <div class="lobbyist">
            <h3>Colorado ACEP Lobbyist</h3>
            <h4>Suzanne Hamilton</h4>
            <img src="../img/suzanne.jpg" alt="">
        </div>
    </section>
</article>

{% include contact.html %}
