
<h3>Annual Meeting</h3>
<p><strong>Date: </strong>January 20, 2021</p>
<p><strong>Time: </strong><time>12:00pm</time> - <time>2:00pm</time></p>
<p>We now have a full slate of candidates. Please see the candidate list by clicking the link below and their Board Nomination Questionnaires linked thereto. Note that in order to vote you must attend the Annual Meeting. We have an exciting program and sincerely hope you can join us.</p>
<button class="more-info">More Info</button>
<!-- <p><strong>Guest Speaker:</strong>  Dr. Vidor Friedman, ACEP Past President.</p> -->
<!-- <img src="/img/denverchophouse.jpg" alt="Denver Chop House"> -->