<aside class="annual-meeting-sidebar">
    <button class="close-annual-meeting-sidebar">X</button>
    <h2>Annual Meeting</h2>
    <h3>Seeking Leadership Positions are:</h3>
    <ul>
        <li>Nate Hibbs, DO Immediate Past President</li>
        <li>Ramnik Dhaliwal, MD, JD President</li>
        <li>Allison Trop, MD President-Elect</li>
        <li>Anna Engeln, MD Secretary/Treasurer</li>
    </ul>

    <h3>Seeking Seven Board of Director Positions are:</h3>
    <ul>
        <li><a href="docs/annual_meetings/2020/dhaliwal_data_sheet.pdf">Jasmeet Dhaliwal, MD, MHP, MBA</a></li>
        <li><a href="docs/annual_meetings/2020/garza_data_sheet.pdf">Alexis Garza, MD</a></li>
        <li><a href="docs/annual_meetings/2020/hilty_data_sheet.pdf">Bill Hilty, MD</a></li>
        <li><a href="docs/annual_meetings/2020/klammer_data_sheet.pdf">Rachelle Klammer, MD</a></li>
        <li><a href="docs/annual_meetings/2020/kornas_data_sheet.pdf">Rebecca Kornas, MD</a></li>
        <li>Dylam Luyten, MD (Incumbent)</li>
        <li><a href="docs/annual_meetings/2020/nacht_data_sheet.pdf">Jacob Nacht, MD</a></li>
        <li><a href="docs/annual_meetings/2020/o_connor_data_sheet.pdf">Neal O'Connor, MD</a></li>
        <li>Pramod Vangeti, MD (Incumbent)</li>
    </ul>
    <p>We are still accepting applications for a Fellow.  If you are interested please contact <a href="suzanne.hamilton@acep.net">Suzanne Hamilton</a> to apply.</p>
    <p>The Annual Meeting will be held virtually with the Zoom information below.  Sue Sedory, the new Executive Director of the national ACEP will address the group and share her vision of the College.</p>
    <p>Additional information including a detailed agenda will follow.</p>
</aside>
<div class="annual-meeting-sidebar__overlay"></div>