<section class="conference-signup">
  <img class="art-hotel-logo" src="/img/art.jpg" alt="The Art Hotel Logo">
  <div class="signup-copy">
   <!-- <h2>7th Annual Colorado ACEP | Symposium on Emergency Medicine</h2> -->
   <img class="symp-logo" src="/img/symp-logo.png" alt="">
   <!-- <a class="button" href="">Register Now</a> -->
   <ul>
    <li><strong>Location:</strong> The ART Hotel</li>
    <li><strong>Date:</strong> September 16, 2016</li>
   </ul>
    <a href="/docs/symposiums/2016/program.pdf" class="button">Symposium Program</a>
    <script src="https://form.jotform.com/static/feedback2.js?3.3.REV" type="text/javascript"> 
      var JFL_32606404129145 = new JotformFeedback({ 
        formId: '32606404129145', 
        base: 'https://form.jotform.com/', 
        windowTitle: 'Register Now', 
        background: '#FFA500', 
        fontColor: '#FFFFFF', 
        type: '1', 
        height: 500, 
        width: 700, 
        openOnLoad: false 
      });
    </script>
    <a class="btn lightbox-32606404129145 button" style="margin-top: 16px"> Register Now</a>
  </div>
</section>
