<section class="conference-signup">

  <div class="info-wrapper">
    <p class="save-the-date">Save The Date</p>
    <img src="/docs/symposiums/2017/img/event_text.png" alt="Symposium Info">
    <ul class="info-list">
    <img src="/docs/symposiums/2017/img/location.png" alt="Great Divide Brewing Company">
      <li>Sept. 13, 2017</li>
      <li>3:00pm - 7:00pm</li>
      <li>Denver, Colorado</li>
    </ul>

    <div class="signup-copy">
      <script src="https://form.jotform.com/static/feedback2.js?3.3.REV" type="text/javascript"> 
        var JFL_32606404129145 = new JotformFeedback({ 
          formId: '32606404129145', 
          base: 'https://form.jotform.com/', 
          windowTitle: 'Register Now', 
          background: '#FFA500', 
          fontColor: '#FFFFFF', 
          type: '1', 
          height: 500, 
          width: 700, 
          openOnLoad: false 
        });
      </script>
      <a class="btn lightbox-32606404129145 button" style="margin-top: 16px">Register Now</a>
      <a class="button" href="/docs/symposiums/2017/program.pdf" style="margin-top: 16px">Symposium Program</a>
    </div>
  </div>

  <div class="map-wrapper">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.6369509127285!2d-104.98137868462359!3d39.77025897944551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c7904a82e95a1%3A0xa6dd78d5e14fbd4d!2sGreat+Divide+Barrel+Bar!5e0!3m2!1sen!2sus!4v1501137042996" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>


</section>
