<section class="conference-signup">
  <div class="info-wrapper">
    <!-- <div class="save-the-date">
        <h2>SAVE THE DATE</h2>
        <p>Virtual CME Event</p>
    </div> -->
    <img class="symposium-image" src="/docs/symposiums/2021/save-the-date.jpg" alt="Symposium Info">
    <div class="info-inner">
      <ul class="info-list">
        <li class="list-title">Abuse and Human Trafficking Symposium</li>
        <li>November 03, 2021</li>
        <li>12:00pm - 4:00pm</li>
      </ul>
      <a class="btn lightbox-32606404129145 button" style="margin-top: 16px"> Register Now</a>
      <p>Registration begins Sept. 15th</p>
    </div>

    <div class="signup-copy">
      <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
      <script type="text/javascript"> var JFL_32606404129145 = new JotformFeedback({ formId: '32606404129145', base: 'https://form.jotform.com/', windowTitle: 'Register Now', background: '#FFA500', fontColor: '#FFFFFF', type: '1', height: 500, width: 700, openOnLoad: false }); </script>
      <!-- <a class="button" href="/docs/symposiums/2018/program.pdf" style="margin-top: 16px">Symposium Program</a> -->
    </div>
  </div>

  <!-- <div class="map-wrapper"> -->
  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3068.83500024643!2d-104.89769618462506!3d39.720890679452005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c7c59c91171dd%3A0xfa643c8583ff8546!2sWings+Over+the+Rockies+Air+%26+Space+Museum!5e0!3m2!1sen!2sus!4v1530803292804" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
  <!-- </div> -->
</section>
