<article class="connect" data-scroll-index="2">
  <h2>Connect</h2>
  <section class="resources">
    <h3>Resources</h3>
    <ul>
     <li><a href="/docs/strategic_plan.pdf" target="_blank">Strategic Plan</a></li>
     <li><a href="/docs/bylaws.pdf" target="_blank">Chapter ByLaws</a></li>
     <li><a href="/docs/board_nomination_application.pdf" target="_blank">Board Nomination Application</a></li>
     <li><a href="/docs/awards.pdf" target="_blank">COACEP Awards</a></li>
     <li><a href="/docs/award_nomination_form.pdf" target="_blank">Award Nomination Form</a></li>
     <li><a href="/docs/department_directory.pdf" target="_blank">Colorado Emergency Department Directory</a></li>
     <li><a href="http://www.acep.org" target="_blank">National ACEP Online</a></li>
     <li><a href="http://www.cms.org" target="_blank">Colorado Medical Society</a></li>
    </ul>
  </section>
  <section class="newsletters">
    <h3>Newsletters</h3>
    <ul>
     <li>Coming Soon...</li>
    </ul>
  </section>
  <section class="committees">
    <h3>Committees</h3>
    <ul>
     <li>Coming Soon...</li>
    </ul>
  </section>
  <section class="res-corner">
    <h3>Residency Corner</h3>
    <ul>
     <li><a href="http://www.denverem.org">Denver Health Residency Program</a></li>
    </ul>
  </section>
</article>
<section class="button-group">
  <a href="https://www.facebook.com/Colorado-ACEP-227454214004965" class="button expand" data-social="facebook">facebook</a>
  <a href="https://twitter.com/barbacep1" class="button expand" data-social="twitter">Twitter</a>
  <a href="http://barbacep1.tumblr.com/" class="button expand" data-social="tumblr">tumblr</a>
</section>
