<article class="connect" data-scroll-index="2">
  <h2>Connect</h2>
  <section class="resources">
    <h3>Resources</h3>
    <ul>
     <li><a href="">Strategic Plan</a></li>
     <li><a href="">Chapter ByLaws</a></li>
     <li><a href="">Board Nomination Application</a></li>
     <li><a href="">COACEP Awards</a></li>
     <li><a href="">Award Nomination Form</a></li>
     <li><a href="">Colorado Emergency Department Directory</a></li>
     <li><a href="">National ACEP Online</a></li>
    </ul>
  </section>
  <section class="newsletters">
    <h3>Newsletters</h3>
  </section>
  <section class="committees">
    <h3>Committees</h3>
  </section>
  <section class="res-corner">
    <h3>Residency Corner</h3>
  </section>
</article>
