<section class="contact" data-scroll-index="4">
<h2>Contact Colorado ACEP</h2>

<form action="https://submit.jotform.us/submit/53504172548152/" method="post" name="form_53504172548152" id="53504172548152" accept-charset="utf-8">
  <input type="hidden" name="formID" value="53504172548152"/>
  <label id="label_1" for="input_1"></label>
  <input type="text" data-type="input-textbox" id="input_1" name="q1_input1" size="20" value="" placeholder="Your Name:" />
  <label id="label_3" for="input_3">  </label>
  <textarea id="input_3" name="q3_input3" cols="40" rows="6" placeholder="Message..."></textarea>
    <button id="input_2" type="submit">
      Submit
    </button>
  <div style="display:none">
  Should be Empty:
  <input type="text" name="website" value="" />
  </div>
  <input type="hidden" id="simple_spc" name="simple_spc" value="53504172548152" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "53504172548152-53504172548152";
  </script>
</form>
