<section class="covid-19">
  <a class="covid-19__image-link" href="https://www.acep.org/corona/COVID-19/">
    <img src="/img/covid-19.jpg" alt="Covid-19 (Coronavirus) Clinical Alert" />
  </a>
  <div class="covid-19__content-wrapper">
    <h2>Covid-19 (Coronavirus)</h2>
    <p>We are updating our COVID-19 Clinical Alert repository daily to assist you with patient care.The resources are categorized below. Click section titles for additional resources in each topic area. If you can't find what you need or need additional support, we're here to help. <a data-scroll-nav="6" href="#contact">Contact us.</a></p>
    <div class="covid-19__members">
      <p><strong>ACEP members:</strong> Even more resources are being shared between physicians in our <a href="https://analytics.clickdimensions.com/aceporg-awlqd/pages/bmqdbv3neeqptqfeygcytw.html">COVID-19 engagED forum</a>. Share what you are learning in real time.</p>
    </div>
    <div class="covid-19__quick-links">
      Quick Links:  
      <ul>
        <li><a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Global Case Map</a></li>  |  
        <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen">WHO</a></li>  |  
        <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/">CDC</a></li>  |  
        <li><a href="https://www.nih.gov/health-information/coronavirus">NIH</a></li>
      </ul>
    </div>
  </div>
</section>
