<footer>
  <div class="info">
    <h3>Colorado Chapter, American College of Emergency Physicians</h3>
    <p>1520 W Dry Creek Rd. Littleton, CO 80120</p>
    <p>Phone: (303) 905-8777</p>
    <p><a href="mailto:suzanne.acep@comcast.net">suzanne.acep@comcast.net</a></p>
  </div>
  <div class="attribution">
    <p><small>{{ site.time | date: '%Y' }} Colorado ACEP | All Rights Reserved</small></p>
  </div>
</footer>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/scroll-it.js"></script>
<script src="js/app.js"></script>
