<footer>
  <div class="info">
    <h3>Colorado Chapter, American College of Emergency Physicians</h3>
    <p>10465 Melody Dr. #101, Northglenn, CO 80234</p>
    <p>Phone: 303.255.2715</p>
    <p>Fax: 303.255.2704 </p>
    <p><a href="mailto:bburgess@estreet.com">bburgess@estreet.com</a></p>
  </div>
  <div class="attribution">
    <p><small>{{ site.time | date: '%Y' }} Colorado ACEP | All Rights Reserved</small></p>
  </div>
</footer>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/scroll-it.js"></script>
<script src="js/app.js"></script>
