<header>

<div class="fixed">

  <nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">
      <li class="name">
        <h1><a href="#">{{ site.title }}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section" id="menu">
      <ul class="left">
            <!-- <li><a  href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li> -->
            <li><a data-scroll-nav="0" href="#home">Home</a></li>
            <li><a data-scroll-nav="1" href="#leadership">Leadership</a></li>
            <li><a data-scroll-nav="2" href="#legislative">Legislative</a></li>
            <li><a data-scroll-nav="3" href="#contact">Contact</a></li>
      </ul>
    </section>

  </nav>
</div>

</header>

