<header>
{% if page.conference %}
  {% include conference.html %}
{% endif %}
<div>

  <nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">
      <li class="name">
        <h1><a href="#">{{ site.title }}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section" id="menu">
      <ul class="left">
        {% include menu.html %}
      </ul>
    </section>

  </nav>
</div>

</header>

