<article class="leadership" data-scroll-index="1">
  <h2>Leadership</h2>
  <section class="main-leadership">
    <div>
      <img src="docs/leadership/dhaliwal.png" alt="Ramnik Dhaliwal, MD, JD">
      <h3>President</h3>
      <h4>Ramnik Dhaliwal, MD, JD</h4>
    </div>
    <div>
      <img src="docs/leadership/trop.png" alt="Allison Trop, MD">
      <h3>President - Elect</h3>
      <h4>Allison Trop, MD</h4>
    </div>
    <div>
      <img src="docs/leadership/engeln.png" alt="Allison Trop, MD">
      <h3>Secretary/Treasurer</h3>
      <h4>Anna Engeln, MD</h4>
    </div>
    <div>
      <img src="docs/leadership/hibbs.jpg" alt="Nathaniel Hibbs, DO, MS, FACEP">
      <h3>Immediate Past President</h3>
      <h4>Nathaniel Hibbs, DO, MS, FACEP</h4>
    </div>
  </section>
</article>
