<article class="leadership" data-scroll-index="1">
  <h2>Leadership</h2>
  <section class="main-leadership">
    <div>
      <img src="docs/leadership/olsen.jpg" alt="Eric Olsen, MD, FACEP">
      <h3>President</h3>
      <h4>Eric Olsen, MD, FACEP</h4>
    </div>
    <div>
      <img src="docs/leadership/friedenson.jpg" alt="David Friedenson, MD, FACEP">
      <h3>President-Elect</h3>
      <h4>David Friedenson, MD, FACEP</h4>
    </div>
    <div>
      <img src="docs/leadership/french.jpg" alt="Andrew French, MD, FACEP">
      <h3>Secretary/Treasurer</h3>
      <h4>Andrew French, MD, FACEP</h4>
    </div>
    <div>
      <img src="docs/leadership/barkin.jpg" alt="Adam Barkin, MD, FACEP">
      <h3>Immediate Past President</h3>
      <h4>Adam Barkin, MD, FACEP</h4>
    </div>
  </section>
</article>
