<ul>
  <li>November 17 (2021) - <strong>12 Noon - 2pm</strong></li>
  <hr>
  <li>January 26 - <strong>12 Noon - 3pm</strong></li>
  <li>March 23 - <strong>12 Noon - 2pm</strong></li>
  <li>May 25 - <strong>12 Noon - 2pm</strong></li>
  <li>July 27 - <strong>12 Noon - 2pm</strong></li>
  <li>Sept. 28 - <strong>12 Noon - 2pm</strong></li>
  <li>Nov. 30 - <strong>12 Noon - 2pm</strong></li>
</ul>

<hr>

<h3>Annual Meeting:</h3>
<ul>
  <li><strong>When:</strong> January 26</li>
  <li><strong>Where:</strong> Denver Art Museum</li>
  <li><strong>Time:</strong> 12 Noon - 3pm</li>
</ul>

<hr>

<h3>CME Conference and Medical Director's Meeting</h3>
<ul>
  <li><strong>When:</strong> November 3 & 4</li>
  <li><strong>Where:</strong> Park Hyatt Beaver Creek</li>
  <li><strong>Time:</strong> TBD</li>
</ul>
