<article class="membership" data-scroll-index="2">
  <h2>Membership</h2>
  <section class="membership__description">
    <p>CO ACEP is your professional organization and leading advocate for emergency medicine in Colorado.  CO ACEP is a democratic organization of 700 members with an elected Board of Directors representing the full range of emergency medicine services, employment, and practice settings.</p>
    <p>CO ACEP engages in frequent dialogue with the general public, media, healthcare organizations, and local and state government agencies about the roles and value of emergency medicine in a rapidly evolving healthcare environment.</p>
    <h3>CME & Educational Programs</h3>
    <p>CO ACEP hosts one educational meeting each year, the Annual CO ACEP Symposium on Emergency Medicine.  The program continues to grow in size and reputation, and features interactive workshop.  CO ACEP also provides sponsorship to the Rocky Mountain Trauma and Emergency Medicine Conference.</p>
    <h3>Member Communications</h3>
    <p>CO ACEP members receive a quarterly electronic newsletter packed with state and national news.</p>
  </section>
  <section class="membership__benefits">
    <h3>Member Benefits</h3>
    <ul>
      <li>In the House of Medicine a CO ACEP leader represents you throughout the year at all interspeciality Councils and Committees within the Colorado Medical Society.</li>
      <li>In State Agencies. CO ACEP members represent you in a number of state agencies and organizations.</li>
      <li>In the Media. CO ACEP members serve in the national Spokesperson Network and frequently interact with local and national media.</li>
      <li>At the State Capitol.  Through its Legislative Affairs Committee, CO ACEP represents you and your interests. CO ACEP seeks to connect and engage emergency physicians and the emergency medicine community to protect and care for your patients, your workplace, and your profession.</li>
      <li>AT ACEP Council Meeting  CO ACEP Councillors represent you at the annual national Council Meeting and the Leadership and Advocacy Conference where national legislative issues and organizational policies are instituted.  CO ACEP members also represent you on a number of ACEP committees and task forces.</li>
    </ul>
  </section>
</article>
