<article class="connect" data-scroll-index="4">
  <h2>Resources</h2>
  <section class="resources">
    <h3>Resources</h3>
    <ul>
     <li><a href="/docs/COACEP_mandatory-vaccine.pdf" target="_blank">COACEP Mandatory Vaccine</a></li>
     <li><a href="/docs/strategic_plan.pdf" target="_blank">Strategic Plan</a></li>
     <li><a href="/docs/bylaws.pdf" target="_blank">Chapter ByLaws</a></li>
     <li><a href="/docs/board_nomination_app.pdf" target="_blank">Board Nomination Application</a></li>
     <li><a href="/docs/fellow_app.pdf" target="_blank">COACEP Leadership Fellow Application</a></li>
     <li><a href="/docs/award_nomination_form.pdf" target="_blank">Award Nomination Form</a></li>
     <li><a href="http://www.acep.org" target="_blank">National ACEP Online</a></li>
     <li><a href="http://www.cms.org" target="_blank">Colorado Medical Society</a></li>
    </ul>
  </section>
  <section class="newsletters">
    <h3>Newsletters</h3>
    <ul>
     <li><a href="docs/newsletters/2021/summer.pdf">Summer 2021</a></li>
     <li><a href="docs/newsletters/2020/nov.pdf">November 2020</a></li>
     <li><a href="docs/newsletters/2020/march.pdf">March 2020</a></li>
     <li><a href="docs/newsletters/2019/sept.pdf">Sept. 2019</a></li>
     <li><a href="docs/newsletters/2019/june.pdf">June 2019</a></li>
     <li><a href="docs/newsletters/2019/EPIC_0319LR.pdf">March 2019</a></li>
     <li><a href="docs/newsletters/2018/october.pdf">Oct. 2018</a></li>
     <li><a href="docs/newsletters/2018/june.pdf">June 2018</a></li>
     <li><a href="docs/newsletters/2018/march.pdf">March 2018</a></li>
    </ul>
  </section>
  <section class="res-corner">
    <h3>Residency Corner</h3>
    <ul>
     <li><a href="http://www.denverem.org">Denver Health Residency Program</a></li>
     <li><a href="/docs/rlc-intro.pdf" target="_blank">Residency Leadership Curriculum</a></li>
    </ul>
  </section>
</article>
<section class="button-group">
  <a href="https://www.facebook.com/Colorado-ACEP-227454214004965" class="button expand" data-social="facebook">facebook</a>
  <a href="https://twitter.com/ColoradoACEP" class="button expand" data-social="twitter">Twitter</a>
</section>
