<section class="sub-leadership">
    <section class="board-of-directors">
      <h3>{{ 'now' | date: "%Y" }} Colorado ACEP Board of Directors</h3>
      <div>
        <ul>
          <li>Anna Engeln, MD</li>
          <li>Mark Hinton, MD</li>
          <li>Dylan Luyten, MD, FACEP</li>
          <li>Carla Murphy, DO, FACEP</li>
          <li>Eric Olsen, MD, FACEP</li>
        </ul>
        <ul>
          <li>Bradley Shy, MD, FACEP</li>
          <li>Allison Trop, MD</li>
          <li>Pramod Vangeti, MD, FACEP</li>
          <li>Eric Verzemnieks, MD</li>
        </ul>
      </div>
    </section>
    <section class="resident-rep">
      <h3>Resident Representative</h3>
      <ul>
        <li>Sasha Kaiser, MD</li>
        <li>Matt Mendes, MD</li>
      </ul>
      <h3>PA Representative</h3>
      <ul>
        <li>Tom McNally, PA-C</li>
      </ul>
    </section>
    <section class="leadership-fellow">
      <!-- <h3>Leadership Fellow</h3>
      <ul>
        <li></li>
      </ul> -->
      <h3>Executive Director</h3>
      <ul>
       <li>Suzanne Hamilton</li>
      </ul>
    </section>
</section>
