<section class="sub-leadership">
    <section class="board-of-directors">
      <h3>{{ 'now' | date: "%Y" }} Colorado ACEP Board of Directors</h3>
      <div>
         <ul>
           <li>Jennifer Bellows, MD, MPH</li>
           <li>Anna Engeln, MD</li>
           <li>Caleb Hernandez, MD, FACEP</li>
           <li>Christopher Johnston, MD</li>
           <li>Dylan Luyten, MD, FACEP</li>
         </ul>
         <ul>
           <li>Erik Verzemnieks, MD</li>
           <li>Garrett Mitchell, MD</li>
           <li>Dave Ross, DO, FACEP</li>
           <li>Pramod Vangeti, MD, FACEP</li>
        </ul>
      </div>
    </section>
    <section class="resident-rep">
      <h3>Resident Representative</h3>
      <ul>
       <li>Alexa Camarena-Michel </li>
      </ul>
    </section>
    <section class="leadership-fellow">
      <h3>Leadership Fellow</h3>
      <ul>
        <li></li>
      </ul>
      <h3>Executive Director</h3>
      <ul>
       <li>Barb Burgess</li>
      </ul>
    </section>
</section>

