<section class="sub-leadership">
    <section class="board-of-directors">
      <h3>2017 Colorado ACEP Board of Directors</h3>
      <div>
        <ul>
         <li>Jennifer Bellows, MD, MPH</li>
         <li>Anna Engein, MD</li>
         <li>Caleb Hernandez, DO, FACEP</li>
         <li>Nathaniel Hibbs, DO, FACEP</li>
         <li>Christopher Johnson, MD</li>
         </ul>
         <ul>
         <li>Garrett Mitchell, MD</li>
         <li>Dave Ross, DO, FACEP</li>
         <li>Fred Severyn, MD, FACEP</li>
         <li>Erik Verzemnieks, MD</li>
        </ul>
      </div>
    </section>
    <section class="resident-rep">
      <h3>Resident Representative</h3>
      <ul>
       <li>Sarah Krajicek, MD</li>
      </ul>
    </section>
    <section class="leadership-fellow">
      <h3>Leadership Fellow</h3>
      <ul>
        <li>Benjamin Murphy, MD</li>
      </ul>
      <h3>Executive Director</h3>
      <ul>
       <li>Barb Burgess</li>
      </ul>
    </section>
</section>

