article.home {
  @include grid-row;
  @include panel-blue-green;
  @include top-bottom-border(2px, solid, $colorado-blue);
  padding: 4em 5%;
  position: relative;

  h2 {
    background-color: $colorado-blue;
    display: inline-block;
    margin: 0;
    padding: 0 2rem;
  }

  section.welcome {

    @media #{$small-only} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(9);
    }

    div {
      margin-top: 2em;
    }

  }

  section.dates {
    background-color: $white;
    bottom: 0;
    color: $colorado-blue;
    padding: 20px 0;
    right: 0;
    top: 0;

    ul {
      padding: 0;
      list-style: none;

      li:before {
        content: '- ';
      }
   }

    @media #{$small-only} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(3);
      border-left: 2px solid $colorado-blue;
    }

    @media #{$large-up} {
      position: absolute;
    }

  }

}
