article.home-panel {
  @include grid-row;
  background: $gray;
  color: $white;
  border-top: 2px solid $lt-green;
  section.about {
    @include grid-column(8);
    padding: $section-padding;
    margin-bottom: 0;
  }
  section.dates {
    @include grid-column(4);
    padding: 4em 4em;
  }
}
