article.home {
  @include grid-row;
  @include panel;
  padding: 4em 0;

  h2 { margin: 0; }

  section.welcome {

    @media #{$small-only} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(8);
    }

  }

  section.dates {

   ul {
     padding: 0;
     list-style: none;

     li:before {
       content: '- ';
     }

   }

    @media #{$small-only} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(4);
    }

  }

}
