section.leadership {
  @include panel($border: false);
  @include grid-row;
  text-align: center;
  padding: $section-padding;
  div {
    @include grid-column(3);
    img {
      border-radius: 100%;
    }
  }
}
