article.leadership {
  @include grid-row;
  background: $offWhite;
  text-align: center;
  color: $dk-blue;

  @media #{$small-only} {

    h2 {
      font-size: 32px;
    }

  }

  @media #{$medium-up} {
    padding: 2em 0;

    h2 {
      font-size: 42px;
    }

  }

}

section.main-leadership {
  padding: 2em 0;

  div {

    img {
      border-radius: 2%;
    }

    @media #{$small-only} {
      @include grid-column(6);
      line-height: 20px;
    }

    @media #{$medium-up} {
      line-height: 10px;
      @include grid-column(3);
    }

  }

}
