article.leadership {
  text-align: center;
  color: $colorado-blue;
  margin: 2em 0;

  h2 {
    padding-bottom: 1em;
  }

  h3 {
    background-color: $colorado-blue;
    color: $white;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0 0;
    padding: 1rem 2rem;
  }

  h4 {
    font-size: 14px;
  }

  @media #{$small-only} {

    h2 {
      font-size: 32px;
    }

  }

  @media #{$medium-up} {
    padding: 2em 0;

    h2 {
      font-size: 42px;
    }

    h3, h4 {
      line-height: 10px;
    }

  }

}

section.main-leadership {
  @include grid-row;
  padding: 2em 0;

  @media #{$small-only} {
    line-height: 10px;
  }

  div {

    @media #{$small-only} {
      margin-bottom: 2em;
    }

    img {
      border-radius: 50%;
    }

    @media #{$small} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      line-height: 10px;
      @include grid-column(3);
    }

  }

}
