article.legislative {
    background: $dk-blue;
    color: $white;
    padding-bottom: 1em;

    h2 { @include grid-column(12); }

    section.updates {
        @include grid-row;

        ul { margin: 0; list-style: none; }

    }

    section.advocacy {
      @include grid-row;

      div {
          @include grid-column(8);
      }

      div.lobbyist {
          @include grid-column(4);
          line-height: 5px;

          img { display: inline-block; border-radius: 2%; }
      }

    }

}

@media #{$small-only} {

    article.legislative {

        section.updates {

            div { @include grid-column(12); }

        }

    }

}

@media #{$medium-up} {

    article.legislative {

        section.updates {

            div { @include grid-column(8); }

            ul { @include grid-column(4); }
        }

    }

}
