article.legislative {
    @include grid-row;
    @include panel-blue-green;
    @include top-bottom-border(2px, solid, $colorado-blue);
    padding: 4em 5%;

    h2 { @include grid-column(12); padding-bottom: 1em; }

    h3 { padding-left: 1em; }

    section.updates {
        @include grid-row;

        ul { margin: 0; list-style: none; }

    }

    section.advocacy {
      @include grid-row;

      div {
          @include grid-column(8);
      }

      div.lobbyist {
          @include grid-column(4);
          line-height: 5px;

          h3 { padding-left: 0; }

          img { 
            display: inline-block;
            border-radius: 2%; 
            max-height: 350px;
          }

      }

    }

}

@media #{$small-only} {

    article.legislative {

        section.updates {

            div {
              @include grid-column(12);
            }

        }

       section.advocacy {
          div {
            @include grid-column(12);
          }

         div.lobbyist {
            @include grid-column(12);

            h3,
            h4 {
              line-height: 15px;
            }
         }

       }

    }

}

@media #{$medium-up} {

    article.legislative {

        section.updates {

            div { @include grid-column(8); }

            ul { @include grid-column(4); }
        }

    }

}
