.membership {
  @include grid-row;
  color: $colorado-blue;
  margin: 2em 0;

  &__description {
    @include grid-column(7);
    padding: 0 80px;

    @media #{$small-only} {
      @include grid-column(12);
    }
  }

  &__benefits {
    @include grid-column(5);
    @include panel-blue-green;
    @include full-border(2px, solid, $colorado-blue);

    @media #{$small-only} {
      @include grid-column(12);
    }
  }

  ul {
    padding: 0 15px;

    li {
      padding-bottom: 10px;
    }
  }
}
