section.saving-millions {
  @include grid-row;

  div {
    position: relative;
    background: $black;
    height: 315px;
    text-align: center;

    @media #{$medium-up} {
      @include grid-column(6, $collapse: true);
    }

    img {
      position: relative;
      margin: 4em 0 1em 0;
    }

    a {
      display: inline-block;
      position: absolute;
      background: lighten($black, 5%);
      color: $white;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      text-decoration: none;

      &:hover { text-decoration: underline; }

    }

  }

  div + div {
    padding-right: 0;
  }

}
