section.saving-millions {
  @include grid-row;

  div {
    @include grid-column(6);
    background: lighten(#006fba, .3%);
    height: 315px;

    img {
      position: relative;
      top: 15%;
      left: 0;
      right: 0;
      bottom: 0;
    }

    iframe {
      position: relative;
      top: 5px;
    }

  }

}
