section.sub-leadership {
  @include grid-row;
  background: darken($offWhite, 2%);
  padding: 2em 0 2em .5em;

  ul {
    padding: 0;
    list-style: none;
  }

  .board-of-directors {

    div {
      @include grid-row;
    }

    @media #{$small-only} {
      @include grid-column(12);

      ul {
        @include grid-column(12, $collapse: true);
      }

    }

    @media #{$medium-up} {
      @include grid-column(6);

      div {

        ul {
          @include grid-column(6, $collapse: true);
        }

      }

    }

  }

  .resident-rep {

    @media #{$small-only} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(3);
    }

  }

  .leadership-fellow {

    @media #{$small-only} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(3);
    }

  }

}
