section.conference-signup {
  @include grid-row;
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;

  @media #{$medium} {
    align-items: center;
    flex-direction: row;
  }

  .symposium-image {
    height: 100%;
  }

  .info-wrapper {
    @include grid-column(4);
    padding: 0 1rem;

    .save-the-date {
      position: relative;
      background-color: $colorado-blue;
      color: $white;
      width: 200px;
      padding: .5em 1.5em .5em 1em;
      font-size: 1.25rem;
      font-weight: normal;
      text-transform: uppercase;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        border-top: 25px solid $offWhite;
        border-bottom: 25px solid $offWhite;
        border-left: 25px solid transparent;
      }

    }

    .info-list {
      color: $colorado-blue;
      list-style: none;
      padding: 0;
      text-transform: uppercase;
      font-size: 1.25rem;
      letter-spacing: 2px;
      line-height: 1.5rem;

      .list-title {
        font-weight: bold;
      }

      img {
        float: left;
        padding-right: 1em;
      }

    }

    @media #{$small-only} {
      @include grid-column(12);
    }

  }

  .map-wrapper {
    @include grid-column(4);

    @media #{$small-only} {
      @include grid-column(12);
    }

  }

  .signup-copy {
    padding: 0;
    margin: 5px 0;

    @media #{$medium-up} {
      padding: 0;
    }

    h2 {
      position: relative;
      margin: 0;
      font-size: 20px;
      top: 8px;
    }

    p {
      font-size: 14px;
      font-style: italic;
      line-height: 2px;
    }

    ul {
      padding: 0;
      list-style: none;
    }

    strong {
      text-transform: uppercase;
    }

  }

  .signup-form {
     @include grid-column(12);
     iframe { width: 150px; }
  }

  .button {
    background-color: $colo-blue;
    margin-bottom: 0;
  }

}
