section.conference-signup {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 5%;

  .symposium-image {

    @media #{$medium} {
      max-width: 25%;
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 100%;

    @media #{$medium} {
      flex-direction: row;
    }

    .info-inner {
      padding: 2rem;
    }

    .save-the-date {
      position: relative;
      background-color: $colorado-blue;
      color: $white;
      width: 25%;
      padding: 2rem 1rem 1rem;
      font-size: 1.25rem;
      font-weight: normal;
      text-transform: uppercase;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media #{$medium} {
        width: 25%;
      }

      h2 {
        letter-spacing: 2;
        margin: 0;
      }
    }

    .info-list {
      color: $colorado-blue;
      list-style: none;
      padding: 0;
      text-transform: uppercase;
      font-size: 1.25rem;
      letter-spacing: 2px;
      line-height: 1.5rem;

      .list-title {
        font-weight: bold;
      }

      img {
        float: left;
        padding-right: 1em;
      }

    }

    @media #{$small-only} {
      @include grid-column(12);
    }

  }

  .map-wrapper {
    @include grid-column(4);

    @media #{$small-only} {
      @include grid-column(12);
    }

  }

  .signup-copy {
    padding: 0;
    margin: 5px 0;

    @media #{$medium-up} {
      padding: 0;
    }

    h2 {
      position: relative;
      margin: 0;
      font-size: 20px;
      top: 8px;
    }

    p {
      font-size: 14px;
      font-style: italic;
      line-height: 2px;
    }

    ul {
      padding: 0;
      list-style: none;
    }

    strong {
      text-transform: uppercase;
    }

  }

  .signup-form {
     @include grid-column(12);
     iframe { width: 150px; }
  }

  .button {
    background-color: $colo-blue;
    margin-bottom: 0;
  }
}
