footer {
  @include grid-row;
  background: $colorado-blue;
  color: $white;

  .info {
    @include grid-column(12);
    margin: 2em 0;
    text-align: center;
    line-height: 20px;

    a {
      color: $blue;
      text-decoration: none;
    }

    span { color: $blue; }

  }

  .attribution {

    p {
      @include grid-column(12);
      text-align: center;
    }

    .social {
      @include grid-column(4);
      text-align: right;
    }

  }

}
