section.hero {
  @include grid-row;
  background: url(../img/hero.jpg) no-repeat center center;
  background-size: cover;
  height: 400px;
  min-height: 400px;

  h1 {
    display: table-cell;
    position: relative;
    color: $white;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    span {
      color: $blue;
    }

  }

  img {
    display: block;
    position: relative;
    width: 550px;
    height: auto;
    top: 30%;
    margin: 0 auto;
  }

}
